:root {
  --background: #ffffff;
  --text: #171717;
  --font-size: 0.95rem;
  --glass-background: rgba(255, 255, 255, 0.05);
  --glass-border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      160deg,
      rgba(1, 7, 20, 1) 40%,
      rgba(0, 12, 38) 70%,
      rgba(0, 23, 80, 0.99) 90%
    );
    --text: #bcbcbc;
  }
}
