.dropdown {
  &__container {
    font-size: 1.25rem;
  }

  &__title {
    color: white;
    cursor: pointer;

    &_into {
      display: flex;
      gap: 8px;
    }

    &_sign {
      font-size: 1.7rem;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &_container {
      max-height: 100%;
      overflow: hidden;
      transition: opacity 0.3s, max-height 0.2s;
    }
  }

  &__element {
    display: flex;
    transition: 0.5s;
  }
}
