.dropdown {
  &__container {
    font-size: 1.25rem;
  }

  &__title {
    color: white;
    padding: 12px 12px;
    cursor: pointer;

    &_into {
      display: flex;
      gap: 8px;
    }

    &_sign {
      font-size: 1.7rem;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow: hidden;

    &_container {
      height: 100%;
      overflow: hidden;
      transition: 0.5s;
    }
  }

  &__element {
    display: flex;
  }
}
