.dropdown {
  &__container {
    font-size: 1.25rem;
  }

  &__title {
    color: white;
    cursor: pointer;
    z-index: 10;

    &_into {
      display: flex;
      gap: 8px;
      z-index: 10;
    }

    &_sign {
      font-size: 1.7rem;
      z-index: 10;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;

    &_container {
      transition: opacity 0.3s, max-height 0.2s;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(98, 116, 142, 1);
        border-radius: 60px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }

  &__element {
    display: flex;
    transition: 0.5s;
  }

  @media (max-width: 750px) {
    &__container {
      height: 100%;
    }
    &__mobile {
      background-color: rgba(49, 65, 88, 1);
    }

    &__elements {
      &_container {
        margin-top: 8px;
      }
    }
  }
}
