.contacts {
  &__wrapper {
    display: flex;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__menu {
    min-width: var(--left-margin);
    height: 100%;
    border-right: var(--glass-border);
    display: flex;
    flex-direction: column;
  }

  &__phone_title {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &_top {
      width: 100%;
      min-height: 40px;
      border-bottom: var(--glass-border);
    }

    &_block {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__contact_form {
    min-width: 532px;
    height: 100%;
    border-right: var(--glass-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 80px;
  }

  &__form {
    width: 272px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__form_block {
    display: flex;
    flex-direction: column;
    gap: 7px;

    & > input {
      border: 1px solid rgba(49, 65, 88, 1);
      border-radius: 5px;
      width: 100%;
      height: 38px;
      transition: 0.5s;
      padding: 5px;
      padding-left: 8px;
      background-color: rgba(2, 6, 24, 1);

      &:focus {
        border: 1px solid white;
        outline: none;
        transition: 0.5s;
      }
    }

    & > textarea {
      border: 1px solid rgba(49, 65, 88, 1);
      border-radius: 5px;
      width: 272px;
      height: 100px;
      transition: 0.5s;
      padding: 5px;
      padding-left: 8px;
      resize: none;
      background-color: rgba(2, 6, 24, 1);

      &:focus {
        border: 1px solid white;
        outline: none;
        transition: 0.5s;
      }
    }
  }

  &__submit_button {
    width: 142px;
    height: 40px;
    background-color: rgba(255, 184, 106, 1);
    border-radius: 5px;
    border: none;
    padding: 10px 12px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 700;

    &:disabled {
      background-color: rgba(49, 65, 88, 1);
      cursor: not-allowed;
      color: rgba(98, 116, 142, 1);
    }

    &:focus {
      background-color: rgba(255, 214, 167, 1);
    }
  }

  &__code_snippet {
    min-width: 100%;
    height: 100%;
    padding: 12px 40px;
  }

  @media (max-width: 750px) {
    &__wrapper {
      flex-direction: column;
      height: 620px;
    }
    &__menu {
      height: auto;
    }

    &__phone_title {
      display: block;
      padding: 15px 18px;
    }

    &__contact_form {
      min-width: 100%;
      height: 100%;
      padding: 40px 80px;
    }

    &__content {
      &_top {
        display: none;
      }
    }

    &__code_snippet {
      display: none;
    }
  }
}
