.projects {
  &__wrapper {
    display: flex;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
  }

  &__menu {
    min-width: var(--left-margin);
    height: 100%;
    border-right: var(--glass-border);
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &_top {
      width: 100%;
      height: 40px;
      border-bottom: var(--glass-border);
    }
  }
}
