.main {
  min-width: 300px;
  width: 1450px;
  min-height: 100px;
  height: 720px;
  background-color: var(--glass-background);
  border: var(--glass-border);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 1475px) {
    & {
      margin: 5px 15px;
    }
  }
}
