.hello {
  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 146px;
    margin-left: var(--left-margin);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
  }

  &__title {
    display: flex;
    flex-direction: column;

    &_glow_1 {
      display: none;
      position: absolute;
      width: 230px;
      height: 230px;
      border-radius: 50px;
      left: 5px;
      top: 210px;
      background-color: rgba(0, 255, 229);
      filter: blur(60px);
      opacity: 0.25;
      z-index: 1;
    }
    &_glow_2 {
      display: none;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 25px;
      right: 100px;
      bottom: 200px;
      filter: blur(60px);
      background-color: rgba(97, 95, 255, 1);
      opacity: 0.2;
      z-index: 1;
    }

    &_glow_3 {
      display: none;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 25px;
      right: -30px;
      bottom: 180px;
      filter: blur(60px);
      background-color: rgba(97, 95, 255, 1);
      opacity: 0.2;
      z-index: 1;
    }

    @media (max-width: 750px) {
      &_glow_1 {
        display: block;
      }
      &_glow_2 {
        display: block;
      }
      &_glow_3 {
        display: block;
      }
    }
  }

  &__greetings {
    font-size: 1.3rem;
    padding-left: 5px;
  }

  &__name {
    font-size: 4.3rem;
    color: white;
  }

  &__front {
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    color: #615fff;
  }

  &__github {
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.3rem;
  }

  &__find_profile {
  }

  &__github_link {
    color: white;
  }

  &__game {
    width: 460px;
    height: 420px;
    background: linear-gradient(
      140deg,
      rgba(67, 217, 173, 0.5) 0%,
      rgba(67, 217, 173, 0.5) 10%,
      rgba(67, 217, 173, 0.2) 60%,
      rgba(67, 217, 173, 0.1) 80%,
      rgba(67, 217, 173, 0.09) 100%
    );
    border-radius: 15px;
    border: 2px solid rgba(49, 65, 88, 1);
    border-top: none;
    box-shadow: 0px -2px 0px rgb(88, 97, 111);
    position: relative;
    z-index: 1;

    @media (max-width: 1300px) {
      display: none;
    }

    &_glow_1 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50px;
      left: -70px;
      top: -40px;
      background-color: rgba(0, 255, 229);
      filter: blur(60px);
      opacity: 0.2;
      z-index: 1;
    }
    &_glow_2 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 25px;
      right: 40px;
      bottom: -50px;
      filter: blur(60px);
      background-color: rgba(97, 95, 255, 1);
      opacity: 0.3;
      z-index: 1;
    }

    &_glow_3 {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 25px;
      right: -100px;
      bottom: 80px;
      filter: blur(60px);
      background-color: rgba(97, 95, 255, 1);
      opacity: 0.3;
      z-index: 1;
    }

    &_ellipse {
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;

      &_1 {
        background: radial-gradient(ellipse at top, #196c6a 0%, #114b4a 10 0%);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8),
          inset 0px 2px 3px rgba(0, 187, 167, 0.5);
        top: 10px;
        left: 10px;
        color: rgb(8, 48, 46);
      }

      &_2 {
        background: radial-gradient(ellipse at top, #1a5a5f 0%, #0d3a40 100%);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
          inset 0px 2px 3px rgb(0, 97, 87);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
        bottom: 10px;
        left: 10px;
        color: rgb(6, 44, 41);
      }

      &_3 {
        background: radial-gradient(ellipse at top, #1a5a5f 0%, #0d3a40 100%);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
          inset 0px 2px 3px rgb(0, 97, 87);
        top: 10px;
        right: 10px;
        color: rgb(2, 33, 32);
      }

      &_4 {
        background: radial-gradient(ellipse at top, #234b7c 0%, #122e4f 100%);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
          inset 0px 2px 3px rgb(32, 69, 116);
        bottom: 10px;
        right: 10px;
        color: rgb(13, 29, 49);
      }
    }
  }

  @media (max-width: 750px) {
    &__container {
      margin-left: 24px;
    }

    &__name {
      width: 100px;
    }

    &__github_link {
      width: 250px;
      word-break: break-all;
      overflow-wrap: anywhere;
    }
  }
}

.const {
  color: #615fff;
}

.var_name {
  color: #00d5be;
}

.link {
  color: #ffa1ad;
  text-decoration: underline;
}
