.header {
  width: 100%;
  min-height: 45px;
  border-bottom: var(--glass-border);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  font-size: 1.25rem;

  &__title {
    width: var(--left-margin);
    height: 100%;
    border-right: var(--glass-border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__mobile_menu {
    display: none;
  }

  &__nav_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__nav {
    display: flex;
    height: 100%;
  }

  &__nav_btn {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: var(--glass-border);
  }

  &__contact {
    width: 140px;
    border-left: var(--glass-border);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
  }

  @media (max-width: 750px) {
    &__title {
      flex: 0 0 100%;
      border: none;
      justify-content: start;
      padding-left: 24px;
      font-size: 1.8rem;
    }

    &__mobile_menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
      font-size: 2rem;
    }

    &__nav_bar {
      display: none;
    }
  }
}
