.footer {
  width: 100%;
  height: 40px;
  border-top: var(--glass-border);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;

  &__title {
    min-width: var(--left-margin);
    height: 100%;
    border-right: var(--glass-border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  &__nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__nav {
    display: flex;
    height: 100%;
  }

  &__nav_btn {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: var(--glass-border);
    font-size: 1.2rem;
  }

  &__gap {
    width: 140px;
    border-left: var(--glass-border);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
