.footer {
  width: 100%;
  min-height: 45px;
  border-top: var(--glass-border);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  font-size: 1.25rem;

  &__title {
    min-width: var(--left-margin);
    min-height: 100%;
    border-right: var(--glass-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__nav {
    display: flex;
    height: 100%;
  }

  &__nav_btn {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: var(--glass-border);
    font-size: 1.5rem;
  }

  &__gap {
    width: 140px;
    border-left: var(--glass-border);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 750px) {
    &__title {
      width: 150px;
    }
    &__nav_bar {
      display: block;
    }
    &__nav_btn {
      padding: 0;
      flex: 1;
    }
    &__gap {
      display: none;
    }
  }
}
